
    <section class="container center">
        <!---<body style="background-color: #ff5a98"> couleur de fond--->
            <div class="col-lg-12">
                <h2 class="text-center">Formulaire de connexion</h2>
            </div>              
                
        <!---</body>--->
            <div class="col-lg-12">
                
                <div style="display: none;" id="bravo">
                    <p>Vous n'avez pas remplit correctement le formulaire :/</p>
                </div>
                <div style="display: none;" id="bravo">
                    <p>Tout a fonctionné comme dans le meilleur des mondes !</p>
                </div>
                <form role="form" id="Form" class="text-center">
                    <div class="form-group">
                        <input text="text" class="form-control-champ" id="nom" name="nom" placeholder="Nom"required>
                        <span class="help-block" style="display: none;"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input text="text" class="form-control-champ" id="prenom" name="prenom" placeholder="Prénom"required>
                        <span class="help-block" style="display: none;"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input text="text" class="form-control-champ" id="mail" name="mail" placeholder="Votre adresse mail"required>
                        <span class="help-block" style="display: none;">Adresse e-mail non valide</span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input text="text" class="form-control-champ" id="mail" name="mail" placeholder="Valider votre adresse mail" required>
                        <span class="help-block" style="display: none;">Adresse e-mail non valide</span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input text="password" class="form-control-champ" id="mdp" name="mdp" placeholder="Votre mot de passe"required>
                        <span class="help-block" style="display: none;">Le mot de passe doit respecter la complexité demandée.</span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input text="password" class="form-control-champ" id="mdp" name="mdp" placeholder="Valider votre mot de passe"required>
                        <span class="help-block" style="display: none;">Le mot de passe doit respecter la complexité demandée.</span>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Envoyer">
                
                </form>
        </div>
    </section>